body {
    background-color: black;
    padding: 25px;
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#message {
    float: left;
    border-radius: 25px;
    padding: 7px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}
#messageF {
    float: right;
    border-radius: 25px;
    padding: 7px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}

#messageForm {
    position: relative;
    left: 50%;
    width: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 7px;
}
#messageForm:focus {
    outline: none !important;
}
#pane::-webkit-scrollbar {
    width: 0;  /* Verstecke den Scrollbalken */
}
#pane {
    scrollbar-width: none;
    height:200px;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}